/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
  }

body {
  	height: auto;

}

.container-nav {
  	position: sticky;
	     top: 0;
}

nav {
  	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 96.7%;
	height: auto;
	margin: 0 auto;
	text-align: left;
	background-color: white;
	box-shadow: 0 15px 25px -28px black; /*box-shadow: 0 0 25px 0 black;*/
	opacity: 95%;
}

 nav  a {
	text-decoration: none;
	color: lightslategray;
	padding: 20px 30px 20px 30px;
	width: auto;
  	height: auto;
	font-size: 1.9rem;
	transition: 0.1s;
}

nav a:hover {
	background-image: linear-gradient(to right, lightblue, lightblue, lightblue);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 70% 10%;
	transition: background-size .5s ease;
}

.logo {
	padding: 10px 0px 14px 0px;
	vertical-align: middle;
	margin-left: 10px;
}

.great-idea-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 82%;
	margin: 50px auto 50px auto;
	text-align: center;
}

.box {
	width: 389px;
	height: auto;
	vertical-align: middle;
}

.great-idea-header h1 {
	font-size: 9rem;
	word-spacing: 200px;
	margin-bottom: 20px;
  	margin-top: 28px;
}

button {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: lightblue;
	margin-bottom: 35px;
	font-size: 1.7rem;
  	transition: 0.4s;
}

button:hover {
	background: lightblue;
	cursor: pointer;
	box-shadow: 0px 5px 30px -10px;
 	border-radius: 5px;
}

header > img {
	width: 400px;
	height: 400px;
	vertical-align: middle;
	margin-left: 10px;
  	border-radius: 100%;
}

hr {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.top {
	width: 45%;
	height: auto;
	text-align: left;
	font-size: 2.1rem;
	margin: 40px auto 40px auto;
}

.container-top {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 84%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.middle-img {
	display: block;
	margin-left: auto;
 	margin-right: auto;
	width: 80%;
}

.bottom {
	width: 33%;
	height: auto;
	text-align: left;
	font-size: 2.1rem;
	margin-top: 40px;
	margin-bottom: 40px;
}

.container-bottom {
	width: 80%;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}

.contact-details {
	font-size: 2rem;
	width: 80%;
	margin: 30px auto 0 auto;
}

footer {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: underline;
}

/* ---------------------------------- */
/* ---------------------------------- */
/*   Great Idea! Services Styling     */
#services-logo {
	padding: 10px 0px 10px 0px;
	vertical-align: middle;
	margin-left: 10px;

}

.services-header-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: auto;
}

.services-header {
	text-align: left;
	width: 90%;
	height: auto;
	margin: 40px auto 40px auto;
}

.services-header h1 {
	font-size: 3.2rem;
	margin-bottom: 22px;
}

.services-header p {
	font-size: 2.3rem;
	line-height: 1.2;
}

.main-content {
	width: 93%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: auto;
}

.services-box {
	height: auto;
	width: 46.5%;
  	background: #f0f2f0;
  	border: 2px solid black;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.services-box h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 2.4rem;
}

.services-box p {
	font-size: 2.3rem;
	line-height: 1.2;
}

.services-button {
	border-radius: 6px;
	border: 1.5px solid black;
	background-color: white;
	font-size: 1.7rem;
	width: auto;
	height: auto;
	margin-top: 25px;
	margin-bottom:  10px;
	padding: 10px 35px 10px 35px;
}

.services-line-top {
	width: 90%;
	margin-bottom: 20px;
	border: 1px solid black;
	background-color: black;

}

.services-line-bottom {
	width: 96.6%;
	margin-top: 40px;
	margin-bottom: 50px;
	border: 1.4px solid black;
	background-color: black;
}

.services-bottom {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.services-bottom-content {
	width: 49%;
}

.services-bottom-content h2 {
	font-size: 2.4rem;
	margin-bottom: 30px;
}

.services-bottom-content p {
	font-size: 2.3rem;
	margin-bottom: 30px;
	line-height: 1.2
}

ul li {
	list-style-type: square;
	font-size: 2.3rem;
	margin-left: 24px;
	line-height: 1.7;
}

.services-info-img {
	display: block;
	margin-left: auto;
	width: 47.9%;
	height: auto;
}



/* media queries*/
/*===============================================*/
/* Great Idea Page max-width*/
/*================================================*/
@media (max-width: 989px) {
	.logo {
		display: block;
		position: absolute;
		top: 10px;
		margin: 0 auto;
  	}

	#services-logo {
		display: block;
		position: absolute;
		top: 10px;
		margin: 0 auto;
	}

	nav {
		padding: 70px 0 0 0;
		width: 100%;
		justify-content: space-evenly;
  }

	.box h1 {
		margin-left: 0;
		margin-right: 0;
		margin-top: 2.4rem;
		word-wrap: normal;    
	}

	header > img {
		width: 350px;
		height: 350px;
		margin-top: 25px;
	}

  	form {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: -moz-available;
		width: -webkit-fill-available;
		width: 100%;	
	} 
}

@media(max-width: 800px) {
  	header img {
    	display: none;
  	}

  	.logo {
		display: block;
		position: absolute;
		top: 10px;
		margin: 0 auto;
  	}
  	nav {
		padding: 70px 0 0 0;
		width: 100%;
		justify-content: space-evenly;
  	}

	nav a:hover {
		background-image: linear-gradient(to right, lightblue, lightblue, lightblue);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 70% 10%;
		transition: background-size .5s ease;
		}

  	.box h1 {
		margin-left: 0;
		margin-right: 0;
		font-size: 80px;
		word-wrap: normal;
	}
}


@media(max-width: 500px) {
  	.container-nav {
    	position: relative;
  	}

  	nav {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		box-shadow: 0 15px 25px -28px;
	}

  	nav a {
		width: 100%;
		text-align: center;
		font-size: 2.4rem;
		box-shadow: 0 15px 25px -28px black;
  	}

  	nav a:hover {
		background-image: linear-gradient(to right, lightblue, lightblue, lightblue);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 90% 10%;
		transition: background-size .5s ease;
  	}

  	.box h1 {
		margin-left: 0;
		margin-right: 0;
		font-size: 8rem;
		word-wrap: normal;
	}

  	.container-top, .container-bottom {
		flex-direction: column;
		margin: 0 auto;
	}

  	.top, .bottom {
		flex-direction: column;
		align-items: center;
		width: 95%;
	}
}

/* Great Idea - Services Page max-width */
/*================================================*/
@media (max-width: 800px) {
  	#services-logo {
		display: block;
		position: absolute;
		top: 10px;
		margin: 0 auto;
	}

  	.services-info-img {
		border-radius: 30%;
		height: 300px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	form {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: -moz-available;
		width: -webkit-fill-available;
		width: 100%;	
	}
}

@media (max-width: 500px) {
	.main-content {
		flex-direction: column;
		margin: 0 auto;
	}	

	.services-header-img{
		margin-top: 1px;
		width: 100%;
		height: 150px;
	}

	.services-box {
		flex-direction: column;
		align-items: center;
		width: 97%;
		margin-left: auto;
		margin-right: auto;
	}

	.services-bottom-content {
		width: 97%;
	}

	.services-info-img {
		display: none;
	}

	form {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: -moz-available;
	}

	
}
